*
{
    font-family: 'Ubuntu Mono', monospace;
}

.parentesis
{
    color: #8E7DBE;
}

.keys
{
    color: aqua;
}

.string
{
    color:blue;
}

.bool
{
    color:rgb(167, 37, 179);
}

.indent
{
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    margin-left: 5px;
    border-left: 1px solid rgba(102, 102, 102, 0.1);
}